@import url("../font/cocomat/stylesheet.css");

$blue: #3498db;
$base: #fff;
$sec-blue: #2980b9;
$complementary: #ffcc00;

$link-font: 'COCOMAT';

$desktop-width: 1200px;
$desktop-lg-width: 2559px;
$mobile-width: 600px;
$mobile-xs-width: 357px;
$nav-height: 70px;
